#footer {
	background-color: $black;
	color: $iron;
	padding: 40px 0;
}

#footer a {
	color: $iron;
    letter-spacing: 20px;

}

.footer-icon {
    transition: color 0.5s;	
}

.footer-icon:hover {
    color: $yellow;	
}